body {
	margin: 0px;
	padding: 0px;
}

header {
	background-color: black;
	height: 105px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	position: sticky;
	text-align: center;
	/*display: inline-block;*/
}

 header img {
 	z-index: 10;
 	width: 190px;
 	height: auto;
 	position: center;
 	margin: 0px;
 }



 .header-button {
 	color: #E6E6E6;
 	text-transform: uppercase;
 	text-decoration: none;
 	font-family: futura-pt, sans-serif;
 	font-size: 11pt;
 	font-weight: 600;
 	margin-top: 35px;
 	display: inline-block;
 	position: absolute;
 	/*padding: 2px 80px;*/
 }

 a.header-button{
 		padding-bottom: 16px;
 		padding-top: 5px;
 	}  

 a.header-button:hover {
 	background-color: #353535
 }

 a.header-button:visited {
 	background-color: #353535
 }

 #iconic-designs {
 	/*left: 25px;*/
 	left: 4%;
 	width: 160px;
 	height: auto;
 }

 #collaborations {
 	left: 21%;
 	width: 170px;
 	height: auto;
 }

 #media {
 	left: 42.5%;
 	text-align: center;
 	width: 100px;
 	height: auto;
 }

 #museo-locations {
 	right: 21%;
 	width: 170px;
 	height: auto;
 }

 #sources {
 	right: 6%;
 	width: 100px;
 	height: auto;
 }

div{
	background-color: black;
	position: relative;
	height: 480px;
}
h1 {
	margin: 0px;
	text-align: center;
	width: 100%;
	z-index: 10;
	text-transform: uppercase;
	color: white;
	font-family: futura-pt, sans-serif;
	font-weight: 400;
	font-size: 80pt;
	display: inline-block;
	bottom: 180px;
	position: absolute;
}

body#main-page div.image:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 480px;
    z-index: 1;
    opacity: 0.59;
    background-image: url("../images/GUCCIYorkdale.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

body#iconic-designs-page div.image:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 480px;
    z-index: 1;
    opacity: 0.59;
    background-image: url("../images/gg-marmont-nm.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

div.gray-under-title {
	background-color: #E0E0E0;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 4%;
	padding-bottom: 4%;
	margin: 0px;
	height: 27%;

}



p.main-description {
	font-family: futura-pt, sans-serif;
	font-size: 23pt;
	font-weight: 300;
	margin: 0px;
	text-align: justify;
	line-height: 1.3
}

div.section {
	height: 200px;
}
div.section p{
	font-family: "Times New Roman", Times, serif;
	font-size: 12pt;
}


div.section.first {
	background-color: white;
	color: black;
}

div.second {
	background-color: black;
	color: #E6E6E6;
}



 footer {
 	width: cover;
 	height: 35px;
 	background-color: black;
 	text-align: center;
 }

 img#footer-logo {
 	height: 20px;
 	margin-top: 7.5px;
 	margin-bottom: 7.5px;

 }