body {
	font-family: 'Archivo Narrow', sans-serif;
	margin: 0;
	padding: 0;
}

section.header {
	margin: 0;
	height: 396px;
	display: block;
	color: white;
	background-color: black;
	padding-top: 84px;
	margin: 0;
	font-weight: 700;
	box-sizing: content-box;
	background-image: url("images/flowers.jpg");
	background-image-opacity: 50%;
	background-repeat: no-repeat;
    background-size: cover;
}

h1 {
	font-size: 5em;
	text-align: center;
	letter-spacing: 0.03em
	margin: 0;
}

h2 {
	font-size: 1.87em;
	text-align: center;
	margin: -67px;
}


div {
	margin: 0;
	padding: .5em;
}

.first {
 	background-color: rgba(171,165,184);
 }

div > h1 {
	font-size: 2.65em;
	text-align: center;
	font-weight: 700;
	letter-spacing: -.02em;
}

div {
	padding-bottom: 60px;
}

img {
	width: 400px;
	height: auto;
	float: right;
	margin-top: 2px;
	padding-left: 30px;
	padding-bottom: 20px;
}

p {
	padding: 104px;
	padding-top: 2px;
	padding-bottom: 0px;
	margin: 0;
	font-size: 1.15em;
	font-weight: 700;
	text-align: left;
	letter-spacing: -.04em;
	line-height: 1.35em;
}

p.two {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: -.1em;

}

p.three {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: -.3em;
}
