body {
	background-color: #16181C;
	color: #EAEAEA;
	font-family: sans-serif;
	margin-left: 60px
}

img {
	width: auto;
	height: 400px;
	margin-top: 30px;
	margin-bottom: 30px;
	
}

img.smol {
	margin-left:20px;
}