html, body{
	height: 100%;
}


body#card1{
	background-image: url(../images/1.jpg);
	background-size: cover;
	background-position: 40%;
	margin: 0;
}

body#card2{
	background-image: url(../images/2.jpg);
	background-size: cover;
	background-position: 68%;
	margin: 0;
}

body#card3{
	background-image: url(../images/3.jpg);
	background-size: cover;
	background-position: 38%;
	margin: 0;
}

#card1 .quote-container {
	font-size: 24pt;
	color: white ;
	position: absolute;
	bottom: 5%;
	padding: 7%;
	
	width: 270px;
	text-align: center;
}

#card2 .quote-container {
	font-size: 24pt;
	color: white ;
	position: absolute;
	bottom: 15%;
	padding: 4%;
	padding-bottom: 6%;
	width: 270px;
	text-align: center;
	right: 2%;
}

#card3 .quote-container {
	font-size: 24pt;
	color: white ;
	position: absolute;
	top: 25%;
	padding: 4%;
	padding-bottom: 6%;
	width: 270px;
	text-align: center;
	right: 2%;
}

.quote {
	font-family: utopia-std-subhead, serif;
	font-weight: 400;
	font-style: normal;

}

.attribution {
	margin-top: 1.7rem;
	font-size: 20pt;
	text-align: right;
	text-transform: uppercase;
	font-family: utopia-std-display, serif;
	font-weight: 600;
	font-style: normal;
	letter-spacing: 1.3pt;
	text-align: center;
}

@media (min-width: /*640px*/){
	/*background-position: right top;*/
}

a {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}