body {
	margin: 3rem auto;
	margin-top: 0px;
	margin-bottom: 0px;
	/*padding-left: 15px;
	padding-right: 15px;*/
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.25;
	font-weight: 500;
	font-size: 15pt;
}

div {
	background-color: #F4E69F;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	width: 100%;
}
header {
	margin-top: 0px;
	padding-bottom: 20px;
	position: relative;
}

img#logo {
	padding-top: 20px;
	padding-left: 25%;
	width: 50%;
	height: auto;
}

h1 {
	margin: 20px;
	margin-top: 50px;
	padding-top: 30px;
	font-size: 90px;
	font-family: 'Great Vibes', cursive;
	color: white;
	border-right: 2px solid #3DB1AF;
	border-left: 2px solid #3DB1AF;
	text-align: center;
}

.fa {
	text-align: center;
	color: #3DB1AF;
	font-size: 25pt;
	margin-left: 47%;
	margin-right: auto;
}
div.icons {
	display: block;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 600;
	color: white;
}

.fa-cutlery {
	text-align: center;
	margin-left: 47%;
	margin-right: auto;
}

img.first-image {
	padding-top: 20px;
	width: 100%;
	height: auto;
	margin-top: 20px;
	margin-bottom: 15px
}

p {
	line-height: 1.25;
	font-weight: 500;
	font-size: 14pt;
	padding-left: 30px;
	padding-right: 20px;
}

img.vert {
	width: 100%;
	height: auto;
	padding-top: 20px;
	
}

div#ingredients {
	background-color: #F4E69F;
	margin-top: 0px;
	padding-bottom: 20px;
}

div#directions {
	background-color: #F4E69F;
	margin-top: 0px;
	padding-bottom: 40px;
}

div#notes {
	margin-top: 0px;
	padding-bottom: 40px;

}

h2 {
	height: 110px;
	width: auto;
	margin: 0px;
	padding-top: 35px;
	padding-bottom: 0px;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 70px;
	font-family: 'Great Vibes', cursive;
	color: white;
	background-color: pink;
	letter-spacing: 1pt;
	text-align: center;
}

h2#dir {
	margin-bottom: 32px;
}

h3 {
	padding-left: 30px;
	padding-right: 20px;
	color: #3DB1AF;
	font-size: 2rem;
}

 ul {
 	padding-left: 20px;
	padding-right: 20px;
	list-style: none;
 }

ul#notes {
	padding-left: 38px;
	padding-right: 38px;
}

strong {
	color: #3DB1AF;
}

section {
	margin: 0px;
	padding: 20px;

	margin-bottom:20px;
}

.odd {
	border: 3pt solid white;
	font-weight: 500;
	color: black;

}

.even {
	border: 3pt solid pink;
	font-weight: 500;
	color: black;
}

.number {
	background-color: #3DB1AF;
	margin-bottom: 20px;
	text-align: center;
	color: white;
	width: 40px;
	height: 33px;
	padding-top: 7px;
	border-radius: 100px;
	margin-left: auto;
	margin-right: auto;
	font-weight: 600
}

div#notes {
	font-size: 10pt;
	padding-left: 0px;
	padding-right: 0px;
}

footer {
	text-align: center;
	font-size: 15px;
	padding-bottom: 30px;
	color: #3DB1AF;;
	font-weight: 600;
}
