
body {
	font-family: 'Ubuntu', sans-serif;
	background-color: #DDD499;
}

header {
	
}
h1 {
	font-size: 9rem;
}

h2 {
	font-size: 2rem;
	font-weight: 300;
	text-transform: : uppercase;
	text-indent: 100px;
}

h3 {
	font-size: 14pt;
	text-align: right;
	font-weight: 300;
	font-style: italic;
	position: relative;
	top: 10px;
	color: #bfa246;
}

header.section-head {
	font-size: 36pt;
	text-transform: uppercase;
	/*color: rgba(255,255,255,0.7);*/
	color: #bfa246;
}

header.descriptor {
	font-size: 10pt;
	font-family: sans-serif;
	/*font-style: italic;*/
	/*text-decoration: underline;*/
	/*font-weight: bold;*/
	text-transform: uppercase;
	color: #bfa246;
}



section {
	font-size: 20pt;
}

.font-weight-light {
	font-weight: 300;
}

.font-weight-regular {
	font-weight: 400;
}

.font-weight-medium {
	font-weight: 500;
}

.font-weight-bold {
	font-weight: 700;
}

.font-style-normal {
	font-style: normal
}

.font-weight-regular {
	font-weight: 400;
}

.font-style-italic {
	font-style: italic;
}

.letter-spacing-2pt {
	letter-spacing: 2pt
}

.letter-spacing-5pt {
	letter-spacing: 5pt
}

.letter-spacing-10pt {
	letter-spacing: 10pt
}

.letter-spacing-negative1pt {
	letter-spacing: -1pt
}

.text-transform-uppercase {
	text-transform: uppercase
}

.text-transform-lowercase {
	text-transform: lowercase
}

.text-transform-capitalize {
	text-transform: capitalize;
}

.text-decoration-overline {
	text-decoration: overline
}

.text-decoration-linethrough {
	text-decoration: line-through;
}

.text-decoration-underline {
	text-decoration: underline
}

.text-decoration-underover {
	text-decoration: underline overline;
}
